<div class="row mb-3">
    <label for="inputLogin" class="col-sm-2 col-form-label">Login</label>
    <div class="col-sm-10">
        <input type="text" name="login" class="form-control {% if login_error %}is-invalid{% endif %}"
               id="inputLogin" value="{{ user_login }}" placeholder="dr_pepper" maxlength="30" required>
        {% if login_error %}
            <div class="invalid-feedback">{{ login_error }}</div>
        {% endif %}
        <div class="form-text">Максимум 30 символов.</div>
    </div>
</div>