.questions__content {
    display: flex;
    flex-direction: column;
    gap: 16px;
}

.question__content{
    display: flex;
    flex-direction: column;
    width: 80%;
    justify-content: space-between;
    min-width: 0;
    flex: 1 1 auto;
}

.question__description{
    margin: 0px;
}

.question__header{
    margin: 0px;
}

.question__aside{
    display: flex;
    flex-direction: column;
    gap: 32px;
    width: 80px;
}

.card__question {
    display: flex;
    gap: 24px;
    padding: 16px;
    border: 2px solid darkgrey;
    width: 100%;
    min-width: 100%;
}

.question__footer{
    display: flex !important;
    gap: 32px !important;
    justify-content: space-between !important;
    align-items: center !important;
    width: 100% !important;
}
.question__tags{
    display: flex;
    gap: 8px;
}

.questions__pagination{
    display: flex;
    justify-content: center;
    gap: 8px;
}

.questions__pagination__item {
    padding: 8px;
    background-color: lightgray;
}