.questions__content {
    display: flex;
    flex-direction: column;
    gap: 16px;
}

.question__content{
    display: flex;
    flex-direction: column;
    width: 80%;
    justify-content: space-between;
}

.question__description{
    margin: 0px;
}

.question__header{
    margin: 0px;
}

.question__aside{
    display: flex;
    flex-direction: column;
    gap: 32px;
    width: 10%;
}

.question__aside input[type="number"]{
    width: 100%;
}

.card__question {
    display: flex;
    gap: 24px;
    padding: 16px;
    border: 2px solid darkgrey;
}

.question__footer{
    display: flex;
    gap: 32px;
}

.question__tags{
    display: flex;
    gap: 8px;
}

.questions__pagination{
    display: flex;
    justify-content: center;
    gap: 8px;
}

.questions__pagination__item {
    padding: 8px;
    background-color: lightgray;
}

.questions__image{
    border-radius: 50%;
    width: 100%;
    height: fit-content;
}