{% extends "VKproject/new_or_tag_Questions.html" %}
{% load static %}


{% block header__profile %}{% endblock header__profile %}

{% block section__title %}
    <div class="info">
        <h2>New Questions</h2>
        <a href="{% url 'questions_page' %}">Hot Questions</a>
    </div>
    <div class="ask">
        <a href="{% url 'addQuestion' %}" class="btn btn-primary" >Ask Question</a>
    </div>

{% endblock section__title %}


{% block questions_list %}
    {% for q in questions_page %}
        <div class="card__question">
            <div class="question__aside">
                <img src="{% static q.avatar %}" alt="avatarka" class="questions__image">
                <input type="number" value="{{ q.answer_count }}">
            </div>

            <div class="question__content">
                <h3 class="question__header">
                    <a href="{% url 'answers_page_for_question' q.id %}">{{ q.question }}</a>
                </h3>
                <p class="question__description">
                    {{ q.description_question }}
                </p>
                <div class="question__footer">
                    <a href="{% url 'answers_page_for_question' q.id %}" class="question__answers">
                        answers ({{ q.answer_count }})
                    </a>
                    <div class="question__tags">
                        <span class="question__tags__title">Tags:</span>
                        <div class="question__tags__list">
                            {% for t in q.tags %}
                                <a href="{% url 'questions_by_tag' %}?tag_name=[{{ t }}]">{{ t }}</a>
                            {% endfor %}
                        </div>
                    </div>
                </div>
            </div>
        </div>
    {% endfor %}
{% endblock questions_list %}