{% extends "VKproject/base.html" %}
{% load static %}

{% block header__input__search %}{% endblock header__input__search %}
{% block button__ASK %}{% endblock button__ASK %}
{% block header__profile %}{% endblock header__profile %}

{% block section__title %}
    <h2>LogIn</h2>
{% endblock section__title %}

{% block section %}
    <form method="post" enctype="multipart/form-data" class="mt-4">
        {% csrf_token %}
        <!-- Поле Логина -->
        {% include "VKproject/log_reg_set_blocks/Login_block.html" %}
        <!-- Поле пароля -->
        {% include "VKproject/log_reg_set_blocks/Password_block.html" %}

        <div class="row">
            <div class="col-sm-10 offset-sm-2">
                <button type="submit" class="btn btn-primary">Log In!</button>
                <div class="mt-2">
                    <a href="#" class="small">Forgot password?</a>
                </div>
                <div class="mt-2">
                    <a href="{% url 'registration_page' %}" class="small">Create new account</a>
                </div>
            </div>
        </div>
    </form>
{% endblock section %}

{% block aside %}{% endblock aside %}