{% extends "base.html" %}
{% load static %}

{% block extra__styles %}
    <link rel="stylesheet" href="{% static 'so_project/css/new_or_tag_Questions.css' %}">
    {% block question__styles %}{% endblock question__styles %}
{% endblock extra__styles %}


{% block section %}
    <div class="questions__content">
        {% block questions_list %}{% endblock questions_list%}
    </div>
    <div class="questions__pagination">
        {% if questions_page.has_previous %}
            <a href="{% url 'questions:questions_page'  %}?page={{ questions_page.previous_page_number }}" class="btn btn-secondary questions__pagination__item">{{ questions_page.previous_page_number }}</a>
        {% endif %}
        <a class="btn questions__pagination__item" style="background-color:orange">{{ questions_page.number }}</a>
        {% if questions_page.has_next %}
            <a href="{% url 'questions:questions_page'  %}?page={{ questions_page.next_page_number }}" class="btn btn-secondary questions__pagination__item">{{ questions_page.next_page_number }}</a>
        {% endif %}
    </div>
{% endblock section %}