<aside class="aside col-12 col-md-4 col-lg-3 order-first order-md-last">
    <div class="aside__tags">
        <span class="aside__title">Popular Tags</span>
        <div class="aside__tags__list">
            <a href="{% url 'questions_by_tag' %}?tag_name=[perl]">perl</a>
            <a href="{% url 'questions_by_tag' %}?tag_name=[python]">python</a>
            <a href="{% url 'questions_by_tag' %}?tag_name=[macos]">macos</a>
            <a href="{% url 'questions_by_tag' %}?tag_name=[tkinter]">tkinter</a>
            <a href="{% url 'questions_by_tag' %}?tag_name=[angular]">angular</a>
            <a href="{% url 'questions_by_tag' %}?tag_name=[gcc]">gcc</a>
            <a href="{% url 'questions_by_tag' %}?tag_name=[snowflake-schema]">snowflake-schema</a>
            <a href="{% url 'questions_by_tag' %}?tag_name=[swift]">swift</a>
            <a href="{% url 'questions_by_tag' %}?tag_name=[swiftdata]">swiftdata</a>
            <a href="{% url 'questions_by_tag' %}?tag_name=[compiler-bug]">compiler-bug</a>
        </div>
    </div>
    <div class="aside_members">
        <span class="aside__title">Best Members</span>
        <div class="aside__members__list">
            <a href="{% url 'profile_member' id=1%}">Mr. Freeman</a>
            <a href="{% url 'profile_member' id=2%}">Dr. House</a>
            <a href="{% url 'profile_member' id=3%}">Bender</a>
            <a href="{% url 'profile_member' id=4%}">Queen Victoria</a>
            <a href="{% url 'profile_member' id=5%}">V. Pupkin</a>
        </div>
    </div>
</aside>