<aside class="aside col-12 col-md-4 col-lg-3 order-first order-md-last">
    <div class="aside__tags">
        <span class="aside__title">Popular Tags</span>
        <div class="aside__tags__list">
            {% for tag_text in popular_tags %}
                <a href="{% url 'questions:questions_by_tag' %}?tag_name=[{{ tag_text.tag_text }}]">{{ tag_text.tag_text }}</a>
            {% empty %}
                <span class="text-muted">Нет популярных тегов</span>
            {% endfor %}
        </div>
    </div>
    <div class="aside_members">
        <span class="aside__title">Best Members</span>
        <div class="aside__members__list">
            {% for member in best_members %}
                <a href="{% url 'questions:profile_member' id=member.id %}">{{ member.nickname|default:member.login }}</a>
            {% empty %}
                <span class="text-muted">Нет активных пользователей</span>
            {% endfor %}
        </div>
    </div>
</aside>