* {
    box-sizing: border-box;
}

.root{
    margin: 0px;
}

a{
    text-decoration: none;
}

.cap{
    display: flex;
    align-items: center;
    gap: 26px;
}

.header{
    display: flex;
    width: 100%;
    padding: 8px;
    background-color: lightgray;
}

.header__wrapper{
    width: 100%;
    max-width: 1200px;
    margin: auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header__logo{
    font-size: 32px;
    line-height: 40px;
}

.header__search{
    display: flex;
    gap: 8px;
}

.header__search input[type="text"]{
    width: 300px;
    border-radius: 16px;
}

.header__ASK{
    border-radius: 16px;
    background-color: green;
    color: white;
    padding: 8px 16px;
    cursor: pointer;

    /* Плавный переход всех свойств за 0.3 секунды */
    transition: all 0.3s ease;
}

.header__ASK:hover{
    background-color: lightgreen;
    color: black;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    transform: scale(1.04) !important; /* Кнопка чуть-чуть приподнимается */
}

.header__profile{
    display: flex;
    gap: 16px;
    align-items: center;
}

.header__register{
    display: flex;
    gap: 16px;
    align-items: center;
}

.header__profile__image{
    border-radius: 50%;
    width: 32px;
    height: fit-content;
}

.header__profile__user{
    display: flex;
    flex-direction: column;
    gap: 4px;
}

.header__profile__action{
    display: flex;
    gap: 8px;
}

.main {
    width: 100%;
    max-width: 1200px;
    margin: 32px auto;
    display: flex;
    flex-direction: row;
    gap: 32px;
}



.section {
    width: 80%;
    display: flex;
    flex-direction: column;
    gap: 16px;
}

.section__title h2{
    margin: 0px;
}

.section__title {
    display: flex;
    align-items: center;
    gap: 16px;
}

.aside {
    width: 20%;
    display: flex;
    flex-direction: column;
    gap: 24px;
}

.aside__tags, .aside_members{
    display: flex;
    flex-direction: column;
    gap: 8px;
}

.aside__tags__list{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 8px;
}

.aside__members__list{
    display: flex;
    flex-direction: column;
    gap: 4px;
}

.aside__title{
    font-size: 24px;
    line-height: 32px;
}