{% load static %}

<div class="row mb-4">
    <label class="col-sm-2 col-form-label">Avatar</label>
    <div class="col-sm-10">
        <div class="mb-3 d-flex align-items-center gap-3">
            <img src="{% static 'so_project/img/profile.png' %}"
                 id="avatarPreview"
                 alt="Current Avatar"
                 class="rounded-circle border"
                 style="width: 80px; height: 80px; object-fit: cover;">
            <div class="form-text">Текущее изображение</div>
        </div>

        <div class="input-group">
            <input type="file" name="avatar" class="form-control" id="avatarUpload" accept="image/*">
        </div>
    </div>
</div>