<div class="row mb-3">
    <label for="inputPasswordConfirm" class="col-sm-2 col-form-label">
        {% if for_settings %}Повторите новый пароль{% else %}Repeat password{% endif %}
    </label>
    <div class="col-sm-10">
        <input type="password" name="password_repeat"
               class="form-control {% if password_error %}is-invalid{% endif %}"
               id="inputPasswordConfirm"
               placeholder="{% if for_settings %}Повторите новый пароль{% else %}Повторите пароль{% endif %}"
               {% if not for_settings %}required{% endif %}>
        {% if password_error %}
            <div class="invalid-feedback">{{ password_error }}</div>
        {% endif %}
    </div>
</div>